{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}


    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="head">
                        <h3>{% trans 'Contact Us Now' %}</h3>
                        <p>{% trans 'Be Your Best self' %}</p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="leave-comment">
                        <form action="{% url 'contact'  %}" method="post">
                            {% csrf_token %}
                            <input required name="name" type="text" placeholder="{% trans 'Full Name' %}">
                            <input required name="email" type="email" placeholder="{% trans 'Email' %}">
                            <input required name="mobile" type="number" placeholder="{% trans 'Phone Number' %}">
                            <input required name="subject" type="text" placeholder="{% trans 'Subject' %}">
                            <textarea required name="comment" placeholder="{% trans 'Message' %}"></textarea>
                            <button type="submit">{% trans 'Submit' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
{% endblock %}